@page "/clarksonhonors"
@inject HttpClient Http

<PageTitle>Clarkson Honors Program</PageTitle>
<link href="css/ImageFormatting.css" rel="stylesheet" />

<TitleHeader Title="Clarkson Honors Program" Date="Portfolio Posts"></TitleHeader>
<div class="main text-white">
    @if (links == null)
    {
        <p>There are no posts on this page.</p>
    }
    else
    {
        @foreach (var link in links)
        {
            <ItemTile Title="@link.Title" Subtitle="@link.Date" LinkRef="@link.Link" IconClass="oi-file"></ItemTile>
        }
    }
</div>

@code {
    public class MenuNavItem
    {
        public string? Title { get; set; }
        public string? Date { get; set; }
        public string? Link { get; set; }
        public string? Class { get; set; }
    }

    private MenuNavItem[]? links;

    protected override async Task OnInitializedAsync()
    {
        links = await Http.GetFromJsonAsync<MenuNavItem[]>("src/data/honors-pages.json");
    }
}
