@page "/contact"
@inject HttpClient Http

<PageTitle>Contact Information</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<TitleHeader Title="Contact Me" Date="You can reach me at any of the following:"></TitleHeader>

<div class="main">
    <ul>
        <li><a href="https://github.com/GeorgeCrochiere" target="_blank"><i class="fa fa-github contact-icon"></i></a></li>
        <li><a href="https://www.linkedin.com/in/george-d-crochiere/" target="_blank"><i class="fa fa-linkedin-square contact-icon"></i></a></li>
        <li><a href="javascript:window.location.href=atob('bWFpbHRvOmdlb3JnZS5kLmNyb2NoaWVyZUBob3RtYWlsLmNvbQ==')"><i class="fa fa-envelope contact-icon"></i></a></li>
    </ul>
</div>
