@page "/clarksonhonors/community-service"

<div class="home">
    <PageTitle>Community Service</PageTitle>
    <link href="css/ImageFormatting.css" rel="stylesheet" />

    <TitleHeader Title="Community Service" Date="December 2022"></TitleHeader>
    <div class="images px-4">
        <img class="image-item" src="src/image/honors/WHAService.png" />
        <img class="image-item" src="src/image/honors/WHASite.png" />
    </div>
    <EssayForm essayFileName="honors-community.txt"></EssayForm>
</div>