@page "/clarkson_honors/ethics"

<div class="home">
    <PageTitle>Professional Ethics</PageTitle>
    <link href="css/ImageFormatting.css" rel="stylesheet" />

    <TitleHeader Title="Professional Ethics" Date="April 2022"></TitleHeader>
    <EssayForm essayFileName="honors-ethics.txt"></EssayForm>s
</div>