@page "/"

<PageTitle>Home</PageTitle>

<div class="centerTextVert">
    <div class="text-header text-white home">
        <h1>George D. Crochiere</h1>
        <p class="subtitle text-white-50">Software Engineering Major - Clarkson Undergraduate Student</p>
        <br />
        <p class="subtitle text-white">Honor's Portfolio</p>
    </div>
</div>