@page "/"

<PageTitle>Home</PageTitle>

<div class="text-header text-white">
    <h1>George D. Crochiere</h1>
    <p class="subtitle text-white-50">Software Engineering Major - Clarkson Undergraduate Student</p>
</div>

<HonorsPage Title="test" Date="December 2022" essayFileName="honors-ethics.txt"></HonorsPage>