@page "/"
@inject IJSRuntime JS;
@inject NavigationManager Nav;

<PageTitle>Home</PageTitle>

<div class="centerTextVert">
    <div class="text-header text-white home">
        <h1>George D. Crochiere</h1>
        <p class="subtitle text-white-50">Software Engineering Major - Clarkson Undergraduate Student</p>
        <br />
        <p class="subtitle text-white">Honor's Portfolio</p>
    </div>
</div>

@code{
    protected async Task<string> GetJSData()
    {
        string reroute = await JS.InvokeAsync<string>("reroute");
        if (reroute == "" || reroute == null) { reroute = ""; }
        return reroute;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        string? subPage = GetJSData().Result;
        if (subPage == null)
        {
            subPage = "";
        }
        Nav.NavigateTo(subPage);
    }
}