.subtitle {
    margin-top: -10px;
}

.text-header {
    text-align: center;
}

.home {
    min-height: 1vh;
}

.centerTextVert {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}