@page "/"
@inject IJSRuntime JS;
@inject NavigationManager Nav;

<PageTitle>Home</PageTitle>

<div class="centerTextVert">
    <div class="text-header text-white home">
        <h1>George D. Crochiere</h1>
        <p class="subtitle text-white-50">Software Engineering Major - Clarkson Undergraduate Student</p>
        <br />
        <p class="subtitle text-white">Honor's Portfolio</p>
    </div>
</div>

@code{
    protected string GetJSData()
    {
        var rerouteData = JS.InvokeAsync<string>("reroute");
        return rerouteData.Result;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        string subPage = GetJSData();
        if (subPage == null)
        {
            subPage = "/";
        }
        Nav.NavigateTo(subPage);
    }
}