@page "/mission_statement"

<PageTitle>Mission Statement</PageTitle>
<link href="css/ImageFormatting.css" rel="stylesheet" />

<TitleHeader Title="Mission Statement"></TitleHeader>
<div class="images px-4">
    <img class="image-item" src="src/image/mission/diceGamePlayer.png" />
    <img class="image-item" src="src/image/mission/diceGame.png" />
</div>
<EssayForm essayFileName="honors-mission-statement.txt"></EssayForm>

@code {

}
