@page "/programmingprojects"

<div class="home">
    <PageTitle>Programming Projects</PageTitle>
    <TitleHeader Title="Programming Projects" Date="August 2023"></TitleHeader>

    <p class="text-white text-center">Some of the programming projects that I've completed. Some items may contain links to the associated GitHub Repository.</p>
    <p class="text-white text-center">Most projects and programming experience is always done on the side and locally on my machine. Expect more public projects to come!</p>
    <hr class="text-white" />

    <h2>Main Projects</h2>
    <div class="code-projects">
        <ItemTile Title="Personal Website" Subtitle="Blazor WASM" IconClass="oi-code" DetailSource="programs/personalWebsite.txt"></ItemTile>
        <ItemTile Title="Database Project" Subtitle="Python, HTML, MySQL" IconClass="oi-code" DetailSource="programs/databaseProject.txt" LinkRef="https://github.com/JakeDEsposito/cs-460-db-backend-web-application"></ItemTile>
        <ItemTile Title="Simplistic Bridge Simulator" Subtitle="MATLAB" IconClass="oi-code" DetailSource="programs/matlabProject.txt" LinkRef="https://github.com/kat-rng/Intro-to-Programming-Course-Project"></ItemTile>
        <ItemTile Title="Engineering Capstone" Subtitle="Java" IconClass="oi-code" DetailSource="programs/engCapstoneHS.txt" LinkRef="https://github.com/GeorgeCrochiere/EngineeringCapstone"></ItemTile>
    </div>
    <hr />

    <h2>In-Progress</h2>
    <div class="code-projects">
        <ItemTile Title="Multi-Purpose Note App" Subtitle="C#" IconClass="oi-code" DetailSource="programs/cSharpNote.txt"></ItemTile>
        <ItemTile Title="Discord Bot" Subtitle="Java" IconClass="oi-code" DetailSource="programs/javaBot.txt"></ItemTile>
    </div>
    <hr />
</div>

@code {

}
