@page "/programmingprojects"

<div class="home">
    <PageTitle>Programming Projects</PageTitle>
    <TitleHeader Title="Programming Projects" Date="June 2023"></TitleHeader>

    <p class="text-white text-center">Some of the programming projects that I've completed. Some items may contain links to the associated GitHub Repository.</p>
    <p class="text-white text-center">Projects and programming experience is always done on the side and locally on my machine. Expect more public projects to come!</p>
    <hr class="text-white" />

    <div class="code-projects">
        
    </div>
</div>

@code {

}
