.code-projects {
    display: flex;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    flex-wrap: wrap;
}

@media (max-width: 640.98px) {
    .code-projects {
        justify-content: center;
    }
}

@media (min-width: 641px) {
    .code-projects {
        justify-content: left;
    }
}