@page "/resume"

<div class="home">
    <PageTitle>Resume</PageTitle>
    <TitleHeader Title="Resume" Date="May 2023"></TitleHeader>

    <div>
        <p class="text-white text-center">Below are some highlights of my resume. You can download the full resume <a href="">here</a>.</p>
    </div>

    <h2>Education</h2>
    <div class="ResumeItems">
        <ItemTile Title="Clarkson University" Subtitle="Education" DetailSource="resume/collegeEdu.txt" IconClass="oi-book"></ItemTile>
        <ItemTile Title="North Middlesex Regional High School" Subtitle="Education" DetailSource="resume/hsEdu.txt" IconClass="oi-book"></ItemTile>
    </div>
    <hr />

    <h2>Work Experience</h2>
    <div class="ResumeItems">
        <ItemTile Title="Teaching Assistant" Subtitle="Work" IconClass="oi-laptop" DetailSource="resume/TAWork.txt"></ItemTile>
        <ItemTile Title="IT Intern" Subtitle="Work" IconClass="oi-laptop" DetailSource="resume/ITWork.txt"></ItemTile>
        <ItemTile Title="Contracted Wordpress Developer" Subtitle="Work" IconClass="oi-laptop" DetailSource="resume/WordPressWork.txt"></ItemTile>
        <ItemTile Title="Production Associate" Subtitle="Work" IconClass="oi-laptop" DetailSource="resume/FactoryWork.txt"></ItemTile>
        <ItemTile Title="Freelance Coding" Subtitle="Work" IconClass="oi-code" DetailSource="resume/CodingWork.txt"></ItemTile>
    </div>
    <hr />

    <h2>Leadership Skills</h2>
    <div class="ResumeItems">
        <ItemTile Title="Boy Scouts of America" Subtitle="Leadership" IconClass="oi-people" DetailSource="resume/BSALeadership.txt"></ItemTile>
        <ItemTile Title="Community Liaison - NHS" Subtitle="Leadership" IconClass="oi-people" DetailSource="resume/NHSLeadership.txt"></ItemTile>
    </div>
    <hr />

    <h2>Skills, Certifications, and Awards</h2>
    <div class="ResumeItems">
        <ItemTile Title="Programming" Subtitle="Skill" IconClass="oi-code" DetailSource="resume/ProgrammingSkills.txt"></ItemTile>
        <ItemTile Title="MS Office" Subtitle="Skill" IconClass="oi-folder" DetailSource="resume/OfficeSkills.txt"></ItemTile>

        <ItemTile Title="American Red Cross Wilderness and Remote First Aid" Subtitle="Certification" IconClass="oi-clipboard" DetailSource="resume/WildernessCert.txt"></ItemTile>
        <ItemTile Title="American Heart Association Hearsaver First Aid, CPR, AED" Subtitle="Certification" IconClass="oi-clipboard" DetailSource="resume/HeartCert.txt"></ItemTile>
        <ItemTile Title="Youth Protection Training" Subtitle="Certification" IconClass="oi-clipboard" DetailSource="resume/YPTCert.txt"></ItemTile>
        <ItemTile Title="National Youth Leadership Training" Subtitle="Certification" IconClass="oi-clipboard" DetailSource="resume/NYLTCert.txt"></ItemTile>

        <ItemTile Title="SMART Scholar - 2022 Cohort" Subtitle="Award" IconClass="oi-badge"></ItemTile>
        <ItemTile Title="Eagle Scout - November 2018" Subtitle="Award" IconClass="oi-badge"></ItemTile>
    </div>
    <hr />

    
</div>

@code {

}
