@page "/resume"

<TitleHeader Title="Resume" Date="May 2023"></TitleHeader>

<div>
    <p class="subtitle text-white text-center">You can download the full resume <a href="">here</a>.</p>
</div>
<h2>Education</h2>
<div class="ResumeItems">
    <ItemTile Title="Clarkson University" Subtitle="Education" DetailSource="resume/collegeEdu.txt" IconClass="oi-book"></ItemTile>
    <ItemTile Title="North Middlesex Regional High School" Subtitle="Education" DetailSource="resume/hsEdu.txt" IconClass="oi-book"></ItemTile>
</div>

@code {

}
