<div class="error-404">
    <h1 class="text-white error-title">One of us did something incorrect...</h1>
    <h2 class="colored-header">&emsp;404: </h2>
    <h2 class="text-white-50 error-desc">&emsp;&emsp;Page Not Found</h2>

</div>


@code {

}
