<div class="title-header">
    <br />
    <h1 class="text-white">@Title</h1>
    <h3 class="text-white-50">@Date</h3>
    <hr />
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Date { get; set; }
}